<!DOCTYPE html>
<html>
  <head>
    {% block extra_css %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='loan.css') }}"
    />
    {% endblock %}
    <title>Apply for Loan</title>
  </head>
  <body>
    <h2>Apply for a Loan</h2>
    <form method="POST">
      <label>Loan Type:</label>
      <select name="loan_type" required>
        <option value="Home">Home</option>
        <option value="Personal">Personal</option>
        <option value="Education">Education</option>
        <option value="Car">Car</option></select
      ><br /><br />

      <label>Amount (₹):</label>
      <input type="number" name="amount" step="0.01" required /><br /><br />

      <label>Duration (Months):</label>
      <input type="number" name="duration" min="1" required /><br /><br />

      <button type="submit">Apply</button>
    </form>
    <br />
    <a href="{{ url_for('dashboard.dashboard') }}">Back to Dashboard</a>
  </body>
</html>
