<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Online Bank{% endblock %}</title>
    {% block extra_css %}{% endblock %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='basic.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
  </head>

  <body>
    <nav>
      <div class="nav-left">
        <a href="{{ url_for('auth.home') }}" class="logo-link">
          <img
            src="{{ url_for('static', filename='banklogo.jpg') }}"
            alt="Bank Logo"
            class="bank-logo"
          />
        </a>

        {% if session.user_id %}
        <a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a>
        <a href="{{ url_for('account.transactions') }}">Transactions</a>
        <a href="{{ url_for('account.loans') }}">Loans</a>
        {% else %}
        <a href="{{ url_for('auth.home') }}">Home</a>
        {% endif %}
      </div>

      <div class="nav-right">
        <a href="{{ url_for('profile.profile') }}" class="profile-link">
          <img
            src="{{ url_for('static', filename='profilelogo.webp') }}"
            alt="Profile"
            class="profile-img"
          />
        </a>
      </div>
    </nav>

    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <p
        class="{{ 'error-message' if category == 'error' else 'success-message' }}"
      >
        {{ message }}
      </p>
      {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock %}
    </div>
  </body>
</html>
