<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Online Bank{% endblock %}</title>
    {% block extra_css %}{% endblock %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='basic.css') }}"
    />
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
      }
      nav {
        background: #003366;
        padding: 1em;
      }
      nav a {
        color: white;
        margin-right: 20px;
        text-decoration: none;
        font-weight: bold;
      }
      .container {
        padding: 2em;
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="nav-left">
        <a href="{{ url_for('auth.home') }}" class="logo-link"> </a>
        <img
          src="{{ url_for('static', filename='banklogo.jpg') }}"
          alt="Bank Logo"
          class="bank-logo"
        />

        {% if session.user_id %}
        <a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a>
        <!-- <a href="{{ url_for('profile.profile') }}">Profile</a> -->
        <a href="{{ url_for('account.transactions') }}">Transactions</a>
        <a href="{{ url_for('account.loans') }}">Loans</a>
        {% else %}
        <a href="{{ url_for('auth.home') }}">Home</a>
        <!-- <a href="{{ url_for('profile.profile') }}">Profile</a> -->
        {% endif %}
      </div>
      <div class="nav-right">
        <a href="{{ url_for('profile.profile') }}" class="profile-link">
          <img
            src="{{ url_for('static', filename='profilelogo.webp') }}"
            alt="Profile"
            class="profile-img"
          />
        </a>
      </div>
    </nav>

    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <p
        class="{{ 'error-message' if category == 'error' else 'success-message' }}"
      >
        {{ message }}
      </p>

      {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock %}
    </div>
  </body>
</html>
