{% extends 'base.html' %} {% block extra_css %}<link
  rel="stylesheet"
  href="{{ url_for('static', filename='sign.css') }}"
/>{% endblock %} {% block title %}Register{% endblock %} {% block content %}

<h2>Register</h2>
<div class="form-center">
  <form method="POST">
  </br></br></br>
  </br></br></br>
    <input name="fname" placeholder="First Name" required /><br />
    <input name="minit" placeholder="Middle Initial" /><br />
    <input name="lname" placeholder="Last Name" required /><br />
    <input name="email" type="email" placeholder="Email" required /><br />
    <input name="phone" placeholder="Phone Number" required /><br />
    <input name="address" placeholder="Address" required /><br />
    <input
      name="password"
      type="password"
      placeholder="Password"
      required
    /><br />
    <button type="submit">Register</button>
  </form>
</div>

{% endblock %}
